/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 footer { margin-top: 100px; }
 table, td, th { vertical-align: middle; border: none; }
 th { border-bottom: 1px solid #DDD; }
 body { 
     margin: 0; 
}
.gravatar {
    height: 30px;
    width: auto;
}
.navbar {
  min-height: 38px;
  background-color: #ee015c;
}
.navbar a.brand { font-size: 18px; }

.navbar a.brand:hover {
 color: #fff;
 background-color: transparent;
 text-decoration: none;
}
footer {
    padding-left: 15px;
    background-color: #ebebeb;
    padding: 30px 0;
    color: #ee015c;
    font-size: 16px;
    background-image: url("https://image.freepik.com/free-vector/abstract-colorful-topographic-map-design-vector_1035-14092.jpg");
  }

.cbody {
    min-height: 60vh;
    padding-left: 15px;
}